.featured-book-wrap {
    background-color: rgba(181, 181, 181, 0.12);
    padding: 10px;
}

.featured-book-body {
    display: flex;
    flex-wrap: wrap;
}

.featured-book-item img {
    width: 100px;
    height: 150px;
}

.featured-book-item img:hover {
    box-shadow: 0 3px 3px 3px;
}
.featured-book-wrap header,
.featured-book-item img {
    margin: 10px;
}